<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.mallinventoryservice.dao.TSpecificationsMapper">
  <resultMap id="BaseResultMap" type="com.cube.mallinventoryservice.po.TSpecifications">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parameter_name" jdbcType="VARCHAR" property="parameterName" />
    <result column="specific_group_id" jdbcType="VARCHAR" property="specificGroupId" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="show_position" jdbcType="VARCHAR" property="showPosition" />
    <result column="is_query" jdbcType="INTEGER" property="isQuery" />
    <result column="is_visable" jdbcType="INTEGER" property="isVisable" />
  </resultMap>
</mapper>