<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.productcenter.dao.TAttributeOptionsMapper">
  <resultMap id="BaseResultMap" type="com.cube.productcenter.po.TAttributeOptions">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="option" jdbcType="VARCHAR" property="option" />
    <result column="attribute_id" jdbcType="VARCHAR" property="attributeId" />
    <result column="is_query" jdbcType="INTEGER" property="isQuery" />
    <result column="is_visable" jdbcType="INTEGER" property="isVisable" />
  </resultMap>
</mapper>